<div class="loading-spinner" *ngIf="loading">
  <div class="spinner"></div>
</div>

<div class="loading-spinner" *ngIf="loading">
  <!-- Implementa tu spinner aquí -->
  <div class="spinner"></div>
</div>

<div class="cuerpo" *ngIf="!loading">
  <div class="submenu">
    <button [class.active]="activeTab === 'solicitudesPorAceptar'" (click)="changeTab('solicitudesPorAceptar')">{{ 'solicitudes.por_aceptar' | translate }}</button>
    <button [class.active]="activeTab === 'solicitudesAceptadas'" (click)="changeTab('solicitudesAceptadas')"> {{ 'solicitudes.aceptadas' | translate }} </button>
    <button [class.active]="activeTab === 'todaslasSolicitudes'" (click)="changeTab('todaslasSolicitudes')"> {{ 'solicitudes.todas' | translate }} </button>
  </div>
  
  <div class="container"> 
    <!--SOLICITUDES POR ACEPTAR-->
    <div class="row" style="display: flex; align-items: center;" *ngIf="activeTab === 'solicitudesPorAceptar'">
      <div class="col-md-7" id="izquierda">
        <h2 class="titulo">{{ 'solicitudes.por_aceptar' | translate }}</h2>
        <p class="texto"><strong>1to1</strong> {{ 'solicitudes.descripcion' | translate }} </p>
      </div>
  
      <div class="col-md-6" id="derecha">
        <div class="divTitulo">
          <h2 class="tituloDerecha">{{ 'solicitudes.titulo' | translate }}</h2>
        </div>

        <div class="contenido">
          <div *ngFor="let solicitud of solicitudesPorAcceptar">
            <div class="infoSolicitud">
              <div class="solicitud-encabezado">
                <p> {{ solicitud.name_user_solicitud }}</p>
                <p class="fecha"> {{ solicitud.date_servicio }}</p>
              </div>
              <p class="nombreServicio">{{ solicitud.nombre_Servicio }}</p>
              <p class="descripcion">{{ solicitud.descripcion }}</p>
              <div  class="botones">
                <button class="botonAceptar" (click)="aceptarSolicitud(solicitud)">{{ 'solicitudes.aceptar' | translate }}</button>
                <button class="botonRechazar" (click)="rechazarSolicitud(solicitud)">{{ 'solicitudes.rechazar' | translate }}</button>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>

  
  
    <div class="segundo" *ngIf="activeTab === 'solicitudesAceptadas'">
      <div class="row" style="display: flex; align-items: center;">
        <div class="col-md-7" id="izquierda">
          <h2 class="titulo">{{ 'solicitudes.aceptadas' | translate }}</h2>
          <p class="texto">Aquí encontrarás un listado detallado de todas las solicitudes que han sido aceptadas. Podrás ver el estado de cada solicitud y obtener información relevante para su seguimiento. Si tu solicitud ha sido aprobada, este es el lugar para consultar los detalles. Gracias por elegirnos para tus necesidades de servicio.</p>
        </div>
    
        <div class="col-md-6" id="derecha">
          <h2 class="tituloDerecha">{{ 'solicitudes.titulo' | translate }}</h2>
          <div class="contenido">
            <div *ngFor="let solicitud of solicitudesAcceptadas">
              <div class="infoSolicitud">
                <div class="solicitud-encabezado">
                  <p> {{ solicitud.name_user_solicitud }}</p>
                  <p class="fecha"> {{ solicitud.date_servicio }}</p>
                </div>
                <p class="nombreServicio">{{ solicitud.nombre_Servicio }}</p>
                <p class="descripcion">{{ solicitud.descripcion }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  
    <div class="tercero" *ngIf="activeTab === 'todaslasSolicitudes'">
      <div class="row" style="display: flex; align-items: center;">
        <div class="col-md-7" id="izquierda">
          <h2 class="titulo">{{ 'solicitudes.todas' | translate }}</h2>
          <p class="texto">En esta sección encontrarás el historial completo de todas las solicitudes realizadas a través de nuestra plataforma. Podrás ver cada solicitud junto con su estado actual, ya sea pendiente, en proceso o finalizada. Esta página te permite llevar un seguimiento de tus solicitudes y acceder a información detallada sobre cada una de ellas. Utiliza esta herramienta para mantenerte al día con tus trámites y servicios.</p>
        </div>
    
        <div class="col-md-6" id="derecha">
          <h2 class="tituloDerecha">{{ 'solicitudes.titulo' | translate }}</h2>
          <div class="contenido">
            <div *ngFor="let solicitud of solicitudes">
              <div class="infoSolicitud">
                <div class="solicitud-encabezado">
                  <p> {{ solicitud.name_user_solicitud }}</p>
                  <p class="fecha"> {{ solicitud.date_servicio }}</p>
                </div>
                <p class="nombreServicio">{{ solicitud.nombre_Servicio }}</p>
                <p class="descripcion">{{ solicitud.descripcion }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
