<div class="body">
    <h1>Aviso Legal</h1>
    <p>Bienvenido a 1to1. Este aviso legal regula el uso del sitio web y la aplicación móvil de 1to1 (en adelante, "la Plataforma"). Al acceder y utilizar la Plataforma, usted acepta cumplir con los términos y condiciones establecidos en este aviso legal.</p>

    <h2>Identificación del Titular</h2>
    <p>
        Titular: 1to1 Services, S.L.<br>
        CIF: B12345678<br>
        C/ Avinguda de les Garrigues 34. 25001, Lleida, Spain.<br>
        Email:  1to1@gmail.com<br>
        Teléfono:  (+34) 655 645 535
    </p>

    <h2>Condiciones de Uso</h2>
    <p>El acceso y uso de la Plataforma atribuye la condición de usuario e implica la aceptación plena y sin reservas de todas las disposiciones incluidas en este aviso legal. Si no está de acuerdo con alguna de las condiciones aquí establecidas, no deberá usar la Plataforma.</p>

    <h2>Responsabilidad del Usuario</h2>
    <p>El usuario se compromete a utilizar la Plataforma de conformidad con la ley, la moral, las buenas costumbres y el orden público. El usuario se obliga a abstenerse de utilizar la Plataforma con fines ilícitos, contrarios a lo establecido en este aviso legal, o de cualquier forma que pueda dañar, inutilizar, sobrecargar o deteriorar la Plataforma o impedir su normal utilización.</p>

    <h2>Propiedad Intelectual</h2>
    <p>Todos los contenidos de la Plataforma, entendiendo por estos a título enunciativo, los textos, fotografías, gráficos, imágenes, iconos, tecnología, software, y demás contenidos audiovisuales o sonoros, así como su diseño gráfico y códigos fuente, son propiedad intelectual de 1to1 o de terceros, sin que puedan entenderse cedidos al usuario ninguno de los derechos de explotación sobre los mismos más allá de lo estrictamente necesario para el correcto uso de la Plataforma.</p>

    <h2>Exclusión de Garantías y Responsabilidad</h2>
    <p>1to1 no se responsabiliza, en ningún caso, de los daños y perjuicios de cualquier naturaleza que pudieran ocasionar, a título enunciativo: errores u omisiones en los contenidos, falta de disponibilidad de la Plataforma, o la transmisión de virus o programas maliciosos o lesivos en los contenidos, a pesar de haber adoptado todas las medidas tecnológicas necesarias para evitarlo.</p>

    <h2>Modificaciones</h2>
    <p>1to1 se reserva el derecho de efectuar sin previo aviso las modificaciones que considere oportunas en la Plataforma, pudiendo cambiar, suprimir o añadir tanto los contenidos y servicios que se presten a través de la misma como la forma en la que éstos aparezcan presentados o localizados en la Plataforma.</p>

    <h2>Enlaces</h2>
    <p>En el caso de que en la Plataforma se dispusiesen enlaces o hipervínculos hacia otros sitios de Internet, 1to1 no ejercerá ningún tipo de control sobre dichos sitios y contenidos. En ningún caso 1to1 asumirá responsabilidad alguna por los contenidos de algún enlace perteneciente a un sitio web ajeno, ni garantizará la disponibilidad técnica, calidad, fiabilidad, exactitud, amplitud, veracidad, validez y constitucionalidad de cualquier material o información contenida en ninguno de dichos hipervínculos u otros sitios de Internet.</p>

    <h2>Derecho de Exclusión</h2>
    <p>1to1 se reserva el derecho a denegar o retirar el acceso a la Plataforma y/o los servicios ofrecidos sin necesidad de preaviso, a instancia propia o de un tercero, a aquellos usuarios que incumplan el presente aviso legal.</p>

    <h2>Generalidades</h2>
    <p>1to1 perseguirá el incumplimiento del presente aviso legal, así como cualquier utilización indebida de la Plataforma ejerciendo todas las acciones civiles y penales que le puedan corresponder en derecho.</p>

    <h2>Legislación Aplicable y Jurisdicción</h2>
    <p>La relación entre 1to1 y el usuario se regirá por la normativa española vigente y cualquier controversia se someterá a los juzgados y tribunales de la ciudad de Madrid.</p>
</div>