<div class="body">
    <h1>{{ 'aviso_legal.title' | translate }}</h1>
    <p>{{ 'aviso_legal.welcome_message' | translate }}</p>

    <h2>{{ 'aviso_legal.identificacion_titular.title' | translate }}</h2>
    <p>
        {{ 'aviso_legal.identificacion_titular.owner' | translate }}<br>
        {{ 'aviso_legal.identificacion_titular.cif' | translate }}<br>
        {{ 'aviso_legal.identificacion_titular.address' | translate }}<br>
        {{ 'aviso_legal.identificacion_titular.email' | translate }}<br>
        {{ 'aviso_legal.identificacion_titular.phone' | translate }}
    </p>

    <h2>{{ 'aviso_legal.condiciones_uso.title' | translate }}</h2>
    <p>{{ 'aviso_legal.condiciones_uso.content' | translate }}</p>

    <h2>{{ 'aviso_legal.responsabilidad_usuario.title' | translate }}</h2>
    <p>{{ 'aviso_legal.responsabilidad_usuario.content' | translate }}</p>

    <h2>{{ 'aviso_legal.propiedad_intelectual.title' | translate }}</h2>
    <p>{{ 'aviso_legal.propiedad_intelectual.content' | translate }}</p>

    <h2>{{ 'aviso_legal.exclusion_garantias_responsabilidad.title' | translate }}</h2>
    <p>{{ 'aviso_legal.exclusion_garantias_responsabilidad.content' | translate }}</p>

    <h2>{{ 'aviso_legal.modificaciones.title' | translate }}</h2>
    <p>{{ 'aviso_legal.modificaciones.content' | translate }}</p>

    <h2>{{ 'aviso_legal.enlaces.title' | translate }}</h2>
    <p>{{ 'aviso_legal.enlaces.content' | translate }}</p>

    <h2>{{ 'aviso_legal.derecho_exclusion.title' | translate }}</h2>
    <p>{{ 'aviso_legal.derecho_exclusion.content' | translate }}</p>

    <h2>{{ 'aviso_legal.generalidades.title' | translate }}</h2>
    <p>{{ 'aviso_legal.generalidades.content' | translate }}</p>

    <h2>{{ 'aviso_legal.legislacion_aplicable_jurisdiccion.title' | translate }}</h2>
    <p>{{ 'aviso_legal.legislacion_aplicable_jurisdiccion.content' | translate }}</p>
</div>
