<div class="navbar">
    <div class="flex">
        <a routerLink="/home" class="logo">
            <div class="flex">
                <div class="img">
                    <img src="../../../assets/imatges/logo.png" height="50px">
                </div>
            </div>
        </a>

    </div>

    <div class="links">
        <a routerLink="" class="link link-left">Ofrecer Servicios</a>
        <a routerLink="/home-comprador" class="link link-left">Contrar Servicios</a>
    </div>

    <div class="flex">
        <div class="links" style="margin-right: 24px;">
            <a routerLink="contacto" class="link link-right">Contacto</a>
            <div class="bPerfil">
                <a routerLink="" class="link link-right"><span class="material-symbols-outlined">person</span>Mi Perfil</a>
            </div>
        </div>
    </div>
</div>