<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="flex">
      <a routerLink="/home-comprador" class="logo">
          <div class="img">
              <img src="../../../assets/imatges/logo.png" height="50px">
          </div>
      </a>
  </div>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="home-comprador">{{ 'header_logged.contratar' | translate }}</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="crear-servicio">{{'header_logged.ofrecer' | translate }}</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="mis-servicios">{{'header_logged.misServicios' | translate}}</a>
        </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="solicitudes">{{'header_logged.solicitudes' | translate}}</a>
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0">
      <input  class="form-control mr-sm-2" type="search" placeholder="{{'header_logged.buscar' | translate}}" aria-label="Search">
    </form>

      <!--MENU DESPLEGABLE-->
      <button class="opciones" mat-button [matMenuTriggerFor]="menu">
        <span class="material-symbols-outlined">menu</span>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/perfil">{{'header_logged.perfil' | translate}}</button>
        <button mat-menu-item routerLink="contacto">{{'header_logged.contacto' | translate}}</button>
        <button (click)="logout()" mat-menu-item>{{'header_logged.cerrarSesion' | translate}}</button>
      </mat-menu>
      </div>
</nav>
