.navbar {
    height: 70px;
    width: 100%;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0px 20px; /* Reducido el espacio de relleno en pantallas más pequeñas */
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 8px -8px;
    z-index: 1000; 
}

a {
    color: inherit;
    text-decoration: none;
}

.flex {
    display: flex;
    align-items: center;
}

.logo {
    height: 50px; /* Reducido el tamaño del logo para adaptarse mejor a la barra de navegación */
    width: 50px; /* Reducido el tamaño del logo para adaptarse mejor a la barra de navegación */
    margin: 0 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    height: 100%; /* Ajustado el tamaño de la imagen para que se ajuste al tamaño del contenedor */
    width: auto; /* Ajustado el tamaño de la imagen para que se ajuste al tamaño del contenedor */
    display: block;
}

.links {
    display: flex;
    align-items: center;
    margin: 0 -10px; /* Reducido el margen en pantallas más pequeñas */
}

.link {
    margin: 0 4px; /* Reducido el margen entre los enlaces */
    padding: 8px;
    font-size: 14px; /* Reducido el tamaño de la fuente para pantallas más pequeñas */
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
}

.link-left:hover {
    color: #e60024;
}

.link-right:hover {
    background: #e9e8eA;
}

button {
    border: 0;
    border-radius: 24px;
    min-height: 40px;
    min-width: 60px;
    padding: 8px 12px; /* Ajustado el relleno del botón */
    cursor: pointer;
    font-size: 14px; /* Reducido el tamaño de la fuente para pantallas más pequeñas */
    font-weight: 600;
}

.bPerfil {
    align-items: center;
    text-align: center;
    display: flex;
    height: 70px;
    padding: 10px;
}

.bPerfil a {
    display: flex;
    align-items: center;
}

/* Reglas de medios para tamaños de pantalla más pequeños */
@media only screen and (max-width: 768px) {
    .links {
        margin: 0 -5px; /* Reducido el margen aún más en pantallas más pequeñas */
    }

    .link {
        font-size: 12px; /* Reducido el tamaño de la fuente aún más para pantallas más pequeñas */
    }

    button {
        min-height: 36px;
        min-width: 54px;
        padding: 6px 10px; /* Ajustado el relleno del botón para pantallas más pequeñas */
        font-size: 12px; /* Reducido el tamaño de la fuente aún más para pantallas más pequeñas */
    }
}

@media only screen and (max-width: 1200px) {
    .navbar {
        padding: 10px;
        flex-direction: column; /* Cambia la dirección del flex a columna */
        align-items: flex-start; /* Alinea los elementos al principio */
    }

    .links,
    .actions {
        margin-top: 10px; /* Añade un margen superior */
    }
}