
<div class="paneles">
  <div class="infoServicio">
    <h1 class="tituloServicio">{{ servicio.tipo_servicio }}</h1>
    <p class="descripcionServicio">{{servicio.descripcion}}
    </p>

    <div class="etiqueta">
      <div class="etiquetas">
        <p class="etiqueta">Etiqueta1</p>
        <p class="etiqueta">Etiqueta2</p>
        <p class="etiqueta">Etiqueta3</p>
        <p class="etiqueta">Etiqueta4</p>
        <p class="etiqueta">Etiqueta5</p>
      </div>
    </div>
    <hr>
    <p class="nombreUsu">Sobre Usuario</p>
    <p class="descripcionUsu">Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Ipsa pariatur dolor aliquam consequuntur quidem, reprehenderit dolore facilis sapiente
      acere quis a distinctio ab error mollitia? Fugiat dignissimos magni velit earum!</p>

  </div>

  <div class="panelDerecha">

    <div class="tarjeta">
      <div class="fotoPerfil" [ngClass]="{ 'fotoCompleta': mostrarCompleta }" (click)="toggleImagenCompleta()">
        <img src="../assets/imatges/Raul.jpeg" alt="Foto de perfil">
      </div>
      <div class="datos">

        <p class="nombre">{{servicio.user.name}}</p>
        <img src="../assets/imatges/grupopEstrellas.png" class="estrellas">
        <p class="edad"></p>
        <p class="ciudad">{{edadUsuario}} años 
        <p>

      </div>
    </div>
    <div class="tarjeta1">

      <!-- el uppercase es para que sea cual sea la ciudad este siempre en mayuscula -->
      <h1 class="ciudad2">{{ servicio.poblacion.nombre_poblacion | uppercase }}<p>(<span class="Sitio">Presencial</span>)</p> </h1> 
      <p class="distancia">40 KM/redonda</p>
      <p class="precio">{{servicio.tarifa}} €</p>
     
      <button (click)="mostrarDialogo=true" class="contratar" >Pagar</button>
    </div>

  </div>


<div>

  <div class="modal" [ngClass]="{ 'show': mostrarDialogo }">
    <div class="modal-content">
      <div class="fotoVisa">
        <div class="cerrar"><span class="close" (click)="cerrarDialogo()">&times;</span></div>
        
          <img src="../../../../../assets/imatges/LogoVisa.png" alt="">
        
        
      </div>
      
      <h2>Detalles de Pago</h2>
      <form (submit)="procesarPago()">
        <label for="cardNumber">Número de Tarjeta:</label>
        <input type="text" id="cardNumber" name="cardNumber" required>
        <label for="expiryDate">Fecha de Expiración:</label>
        <input type="text" id="expiryDate" name="expiryDate" required>
        <label for="cvv">CVV:</label>
        <input type="text" id="cvv" name="cvv" required>
        <button type="submit">Realizar Pago</button>
      </form>
    </div>
  </div>
  
  