.cuerpo{
    display: flex;
    justify-content: space-around;
    margin: 10px 20px;
    padding: 20px;
}

.infoServicio{
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px #e0e0e0;
    width: 65%;
    margin: 2% ;
    text-align: center;
}

.tituloServicio{
    font-size: 40px;
    color: #4A4747;
    text-align: center;
    margin: 5%;
}

.descripcionServicio{
    font-size: 20px;
    color: #4A4747;
    text-align:justify;
    margin: 1%;
}


.panelDerecha{
    padding: 20px 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px #e0e0e0;
    width: 40%;
    margin: 2% ;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.tarjeta {
    min-height: 200px;
    max-height: 300px;
    width: 90%;
    display: flex;
    padding: 15px 15px;
    margin: 15px auto;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px #e0e0e0;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.datos{
    margin-top: 10px;
    height: 135px;
}

.nombre{ font-size: 23px; color: #4A4747; text-align: left; font-weight: 600; }

.verPerfil { display: table; text-decoration: none; color: #e60024; font-weight: 400; cursor: pointer; }

.verPerfil::after {
    content: "";
    display: block;
    height: 1px;
    background-color: #e60024;
    transform: scale(0,1);
    transform-origin: center;
    transition: transform .25s;
    
  }

.verPerfil:hover::after {
    transform: scale(1,1);
    background-color: #e60024;
}



.tarjeta2 {
    min-height: 200px;
    max-height: 300px;
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    margin: 15px auto;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px #e0e0e0;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
}

.titulo3{
    font-size: 25px;
    font-weight: 700;
}

.precio{ font-size: 25px; font-weight: 700; color: #4A4747;}

.ciudad{ color: #4A4747; margin: 0 auto; font-size: 25px; font-weight: 700; }

/* .sitio{ font-size: 20px; font-weight: 500; color: #4A4747;} */

.distancia{ font-size: 30px; }

button{
    border: 0;
    border-radius: 10px;
    min-height: 40px;
    width: 90%;
    padding: 8px 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    background: #b40301;
    color: #fff;
}

button:hover {
    background: #e60024;
    color: #fff;
}

.fotoPerfil {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 100px;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin-left: 50px;
}

.fotoPerfil img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}
