/* Base Styles */
* {
    box-sizing: border-box; /* Includes padding and border in the element's total width and height */
}

body {
    margin: 0;
    font-family: Arial, sans-serif; 
}
.contenido {
    padding: 100px;
}
section {
    
    gap: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px,1fr));
    
}
.card {
    position: relative;
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
   
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s; /* Smooth transformation on hover */
}

.card.estilo-b{
width: 100%;
}

.card:hover {
    transform: scale(1.05); /* Slightly enlarge cards on hover */
}

.img-container {
    width: 100%;
    display: block; /* Ensures the container takes the full width */
}

.img-container img {
    width: 100%;
    height: auto; /* Maintains aspect ratio */
    display: block;
}

.infoS {
    padding: 15px;
    color: #333; 
    display: flex;
    justify-content: space-around;
}

.titulo {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px; /* Space between title and star rating */
}

.material-symbols-outlined {
    display: flex;
  
    font-size: 18px;
    margin: 5px 0; /* Spacing between symbol items */
}

.material-symbols-outlined p {
    margin-left: 5px; /* Space between icon and its corresponding text */
}

.lugar {
    font-size: 16px;
}

.price {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #FFA500; /* Orange background for price tag */
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

.estilo-b a {
    display: flex;
    justify-content: center;
    margin-top: 2px;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 15px;
    border: 1px solid black;
}

.estilo-b a:hover {
    color: black;
    background-color: transparent;
    border: 1px solid black;
    
}

/* Responsive Adjustments */

@media (max-width: 600px) {
    .card {
        margin: 10px;
    }

    .titulo, .material-symbols-outlined p, .lugar {
        font-size: 14px; /* Smaller font size for smaller screens */
    }

    .material-symbols-outlined {
        font-size: 16px;
    }
}

@media (min-width: 601px) and (max-width: 1200px) {
    .card {
        margin: 15px auto; /* Centering the card */
        max-width: 80%; /* Maximum width to avoid too wide cards on tablets */
    }
}

@media (min-width: 1201px) {
    .card {
        margin: 20px auto;
        /* max-width: 50%; Ideal width for readability on large screens */
    }
}
