
<div class="cuerpo">
  <div class="infoServicio">
    <h1>Carpintero</h1>
    <h1 class="tituloServicio">{{ servicio.tipo_servicio }}</h1>
    <p class="descripcionServicio">{{servicio.descripcion}}
    </p>
    <hr>  
    <p class="descripcionUsu">Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Ipsa pariatur dolor aliquam consequuntur quidem, reprehenderit dolore facilis sapiente
      acere quis a distinctio ab error mollitia? Fugiat dignissimos magni velit earum!</p>

  </div>

  <div class="panelDerecha">

    <div class="tarjeta">
      <div class="fotoPerfil" [ngClass]="{ 'fotoCompleta': mostrarCompleta }" (click)="toggleImagenCompleta()">
        <img src="../assets/imatges/Raul.jpeg" alt="Foto de perfil">
      </div>
      <div class="datos">
        <!--
          <p class="nombre">{{servicio.user.name}}</p>
        <img src="../assets/imatges/grupopEstrellas.png" class="estrellas">
        <p class="edad"></p>
        <p class="ciudad">{{edadUsuario}} años 
        -->
        <p class="nombre"> Basilio Alejandro Fernandez</p>
        <a class="verPerfil">Ver Perfil</a>
      </div>
    </div>


    <!-- 
      <div class="tarjeta2">
      <div>
        <h1 class="ciudad">{{ servicio.poblacion.nombre_poblacion | uppercase }} </h1>
        <p class="sitio">(Presencial)</p>
      </div>
      <p class="precio">{{servicio.tarifa}} 10€</p>
      <button class="contratar"  [routerLink]="['/contratar', servicio.id_servicios]">CONTRATAR</button>
    </div>
    -->
    <div class="tarjeta2">
      <h1 class="titulo3">Sobre el Servicio:</h1>
        <h1 class="ciudad">Solsona</h1>
        <p class="precio">100€</p>
      <button class="contratar"  [routerLink]="['/contratar', servicio.id_servicios]">CONTRATAR</button>
    </div>

  </div>


<div>

    
