<div class="contenido">
    <section>
        <div class="card estilo-b">
            <div class="img-container">
                <img src="../../../../../assets/herramientas-de-carpinteria_seveiestaci.jpg" alt="producto 1">
                <span class="price">$60</span>
    
            </div>
            <div class="infoS">
                <p class="titulo">Carpintero</p>
                <span class="material-symbols-outlined">
                    star <p>5.0</p>
                </span>
                <span class="material-symbols-outlined">
                    where_to_vote <p class="lugar">Andorra</p>
                </span>
            </div>
    
            <a href="#">Ver mas</a>
        </div>
    
    
    
        <div class="card estilo-b">
            <div class="img-container">
                <img src="../../../../../assets/herramientas-de-carpinteria_seveiestaci.jpg" alt="producto 1">
                <span class="price">$60</span>
    
            </div>
            <div class="infoS">
                <p class="titulo">Carpintero</p>
                <span class="material-symbols-outlined">
                    star <p>5.0</p>
                </span>
                <span class="material-symbols-outlined">
                    where_to_vote <p class="lugar">Andorra</p>
                </span>
            </div>
    
            <a href="#">Ver mas</a>
        </div>
        <div class="card estilo-b">
            <div class="img-container">
                <img src="../../../../../assets/herramientas-de-carpinteria_seveiestaci.jpg" alt="producto 1">
                <span class="price">$60</span>
    
            </div>
            <div class="infoS">
                <p class="titulo">Carpintero</p>
                <span class="material-symbols-outlined">
                    star <p>5.0</p>
                </span>
                <span class="material-symbols-outlined">
                    where_to_vote <p class="lugar">Andorra</p>
                </span>
            </div>
    
            <a href="#">Ver mas</a>
        </div>
        <div class="card estilo-b">
            <div class="img-container">
                <img src="../../../../../assets/herramientas-de-carpinteria_seveiestaci.jpg" alt="producto 1">
                <span class="price">$60</span>
    
            </div>
            <div class="infoS">
                <p class="titulo">Carpintero</p>
                <span class="material-symbols-outlined">
                    star <p>5.0</p>
                </span>
                <span class="material-symbols-outlined">
                    where_to_vote <p class="lugar">Andorra</p>
                </span>
            </div>
    
            <a href="#">Ver mas</a>
        </div>
        <div class="card estilo-b">
            <div class="img-container">
                <img src="../../../../../assets/herramientas-de-carpinteria_seveiestaci.jpg" alt="producto 1">
                <span class="price">$60</span>
    
            </div>
            <div class="infoS">
                <p class="titulo">Carpintero</p>
                <span class="material-symbols-outlined">
                    star <p>5.0</p>
                </span>
                <span class="material-symbols-outlined">
                    where_to_vote <p class="lugar">Andorra</p>
                </span>
            </div>
    
            <a href="#">Ver mas</a>
        </div>
        <div class="card estilo-b">
            <div class="img-container">
                <img src="../../../../../assets/herramientas-de-carpinteria_seveiestaci.jpg" alt="producto 1">
                <span class="price">$60</span>
    
            </div>
            <div class="infoS">
                <p class="titulo">Carpintero</p>
                <span class="material-symbols-outlined">
                    star <p>5.0</p>
                </span>
                <span class="material-symbols-outlined">
                    where_to_vote <p class="lugar">Andorra</p>
                </span>
            </div>
    
            <a href="#">Ver mas</a>
        </div>
    </section>
</div>