<br>
<br>
<br>
<br>
<br>


<div class="tarjetaRegistro">
  <h1 class="titulo">{{ 'register.title' | translate }}</h1>
  <form [formGroup]="RegisterForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
      <input class="Inputs" type="text" placeholder="{{ 'register.dni' | translate }}" formControlName="dni" required>
      <input class="Inputs" type="text" placeholder="{{ 'register.fullName' | translate }}" formControlName="name" required>
      <input class="Inputs" type="date" placeholder="{{ 'register.dateOfBirth' | translate }}" formControlName="dateOfBirth" required>
      <input class="Inputs" type="email" placeholder="{{ 'register.email' | translate }}" formControlName="email" required>
      <input class="Inputs" type="tel" placeholder="{{ 'register.phone' | translate }}" formControlName="phone" required>
      <input class="Inputs" type="password" placeholder="{{ 'register.password' | translate }}" formControlName="password" required>
      <input class="Inputs" type="password" placeholder="{{ 'register.confirmPassword' | translate }}" formControlName="password_confirmation" required>
      <div *ngIf="RegisterForm.hasError('passwordMismatch') && (RegisterForm.get('password') || RegisterForm.get('password_confirmation'))" style="color: red;">
        {{ 'register.passwordMismatchError' | translate }}
      </div>
      <input class="Inputs" type="file" accept="image/*" (change)="onFileSelected($event)" required>
      
      <button type="submit">{{ 'register.submitButton' | translate }}</button>
  </form>

  <p>{{ 'register.alreadyHaveAccount' | translate }}</p>
  <a routerLink="/login">{{ 'register.loginLink' | translate }}</a>
</div>
