/*-------------------------------CONTENEDOR-----------------------------*/
.container{
    min-height: 20em;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  
  .row {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  
  
  #izquierda, #derecha {
    flex: 1 1 100%;
    margin: 10px;
  }
  
  /*--------------------------------CONTINGUT DIV ESQUERRA-----------------------------------------*/
  #izquierda{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 100px;
    left: 20px;
    top: 15em;
    margin-left: -20px;
  }
  
  .titulo{
    font-weight: 700;
    font-size: 40px;
    color: #b40301;
  }
  
  .texto{
    font-weight: 600;
    color: rgb(78, 78, 78);
    font-size: 16px;
  }


/*--------------------------------CONTINGUT DIV DRETA-----------------------------------------*/
#derecha{
    text-align: center;
    right: -425px;
    flex-direction: column;
    margin-top: 40px;
  }
  
  .divTitulo{
    width: 500px;
  }
  
  .tituloDerecha{
    font-weight: 700;
    font-size: 35px;
    color: #b40301;
    margin-top: 0px;
    position: fixed;
    right: 19%;
  }
  
  h2{
    font-weight: 700;
  }
  
.infoSolicitud{
  max-width: 550px;
  padding: 1em;
  background-color: rgb(235, 235, 235);
  border-radius: 20px;
  border: 1px solid #a5a5a5;
}
  
  .solicitud-encabezado {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-weight: 700;
    color: rgb(76, 76, 76);
  }
  
  .nombreServicio{
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
  }
  
  .botones{
    margin-top: 15px;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
  }
  
  .botones button{
    padding: 8px 16px;
      margin-right: 10px;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
  }

  .infoSolicitud p.descripcion {
    margin-top: 20px;
    max-width: 500px;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  .contenido {
    max-height: calc(75vh - 120px);
    overflow-y: auto;
    margin-top: 40px;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    
  }
  