<div *ngIf="loading" class="loading-spinner">
    <div class="spinner"></div>
  </div>
  
  <div class="user-profile-wrapper" *ngIf="!loading">
    <div class="user-profile-container" *ngIf="!showEditForm">
      <div class="profile-left">
        <div class="profile-picture-wrapper">
          <img [src]="user.profile.image" alt="Profile Picture" class="profile-picture">
        </div>
        <h2>{{ user.profile.name }}</h2>
        <p><strong>Email:</strong> {{ user.profile.email }}</p>
        <p><strong>Phone:</strong> {{ user.profile.phone }}</p>
        <button class="edit-profile-btn" (click)="toggleEditForm()">Edit Profile</button>
      </div>
      <div class="profile-right">
        <div class="profile-section">
          <h3>Skills</h3>
          <ul>
            <li *ngFor="let skill of user.profile.habilidades.split('\r\n')">{{ skill }}</li>
          </ul>
        </div>
        <div class="profile-section">
          <h3>Personal Experience</h3>
          <p>{{ user.profile.experiencia }}</p>
        </div>
        <div class="profile-section">
          <h3>Personal Description</h3>
          <p>{{ user.profile.descripcion_personal }}</p>
        </div>
      </div>
    </div>
  
    <div *ngIf="showEditForm" class="edit-profile-form">
      <h2>Edit Profile</h2>
      <form [formGroup]="perfilForm" (ngSubmit)="guardarPerfil()">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" formControlName="name" id="name" class="form-control">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" formControlName="email" id="email" class="form-control">
        </div>
        <div class="form-group">
          <label for="phone">Phone</label>
          <input type="text" formControlName="phone" id="phone" class="form-control">
        </div>
        <div class="form-group">
          <label for="experiencia">Experience</label>
          <textarea formControlName="experiencia" id="experiencia" class="form-control"></textarea>
        </div>
        <div class="form-group">
          <label for="habilidades">Skills (Separate by newlines)</label>
          <textarea formControlName="habilidades" id="habilidades" class="form-control"></textarea>
        </div>
        <div class="form-group">
          <label for="descripcion_personal">Personal Description</label>
          <textarea formControlName="descripcion_personal" id="descripcion_personal" class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-secondary" (click)="toggleEditForm()">Cancel</button>
      </form>
    </div>
  </div>
  
