
/*-------------------------------RUEDA DE CARGA-----------------------------*/

.loading-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    padding: 20px;
  }
  
  .spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #b40301;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

* {
    box-sizing: border-box;
  }
  
  body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
  }
  
  .user-profile-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-top:20px;
    padding-bottom: 10px;
    height: 100%;
    width: 100%;
  }
  
  .user-profile-container {
    display: flex;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: #fff;
    width: 60%;
    max-width: 900px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: visible; /* Allow the image to overflow */
  }
  
  .profile-left {
    width: 35%;
    text-align: justify;
    border-right: 1px solid #ccc;
    padding-right: 20px;
    padding-top: 175px; /* Ajuste para mayor espacio */
    position: relative;
  }
  .profile-right {
    width: 65%;
    padding-left: 20px;
  }
  
  .profile-picture-wrapper {
    position: absolute;
    top: -15px; /* Half the height of the image to make it overlap */
    left: 45%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .profile-left h2 {
    margin: 10px 0 0 0;
    font-size: 28px;
  }
  
  .profile-left p {
    margin: 10px 0;
    font-size: 18px;
  }
  
  .edit-profile-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #b40301;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .edit-profile-btn:hover {
    background-color: #b40301;
  }
  
  .profile-section {
    margin-bottom: 20px;
  }
  
  .profile-section h3 {
    margin-bottom: 10px;
    font-size: 24px;
  }
  
  .profile-section ul {
    list-style: none;
    padding: 0;
  }
  
  .profile-section ul li {
    background: #ffffff;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: 18px;
  }
  
  /* Media Queries for Responsive Design */
  @media (max-width: 768px) {
    .user-profile-container {
      flex-direction: column;
      align-items: center;
      width: 80%;
      padding: 20px;
    }
  
    .profile-left {
      width: 100%;
      border-right: none;
      border-bottom: 1px solid #ccc;
      padding-right: 0;
      padding-bottom: 20px;
      padding-top: 50px; /* Adjust padding to account for image overlap */
    }
  
    .profile-right {
      width: 100%;
      padding-left: 0;
      padding-top: 20px;
    }
  
    .profile-picture-wrapper {
      top: -75px; /* Adjust this value if needed */
      left: 50%;
      transform: translateX(-50%);
    }
  
    .profile-picture {
      width: 120px;
      height: 120px;
    }
  
    .profile-left h2 {
      font-size: 24px;
    }
  
    .profile-left p {
      font-size: 16px;
    }
  
    .profile-section h3 {
      font-size: 20px;
    }
  
    .profile-section ul li {
      font-size: 16px;
    }
  
    .edit-profile-btn {
      font-size: 14px;
      padding: 8px 16px;
    }
  }
  
  @media (max-width: 480px) {
    .user-profile-container {
      width: 100%;
      padding: 10px;
    }
  
    .profile-picture {
      width: 100px;
      height: 100px;
    }
  
    .profile-left h2 {
      font-size: 20px;
    }
  
    .profile-left p {
      font-size: 14px;
    }
  
    .profile-section h3 {
      font-size: 18px;
    }
  
    .profile-section ul li {
      font-size: 14px;
    }
  
    .edit-profile-btn {
      font-size: 12px;
      padding: 6px 12px;
    }
  }

  .edit-profile-form {
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Added subtle shadow */
  }

  .edit-profile-form .form-group {
    margin-bottom: 15px; /* Add spacing between form groups */
  }

  .edit-profile-form .form-control {
    border-radius: 4px; /* Add border radius to form controls */
  }

  .edit-profile-form button {
    margin-right: 10px; /* Add spacing between buttons */
  }
  