.profile-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    background-color: #f9f9f9;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.card-content div, .card-footer {
    margin-top: 15px;
}

.edit-button, .save-button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.edit-button:hover, .save-button:hover {
    background-color: #0056b3;
}

.field label {
    font-weight: bold;
    display: block;
}

.verified span {
    color: green;
    font-weight: bold;
}

.attention-message {
    color: red;
    font-weight: bold;
}

.edit-form .form-group {
    margin-bottom: 20px;
}

.edit-form label {
    margin-bottom: 5px;
    display: block;
    font-size: 14px;
    color: #333;
}

.edit-form input[type="text"],
.edit-form input[type="email"],
.edit-form input[type="file"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.save-button {
    display: block;
    width: 100%;
}
