
<app-header></app-header>

<div class="cuerpo">

  <div class="izquierda">
    <h3>Mi Perfil</h3>
    <img class="fotoPerfil"  src= "/assets/imatges/Hasbullah.png">
  </div>
  
  <div class="centro">
    <form class="datosPerfil" [formGroup]="perfilForm"> <!-- Asocia el FormGroup al formulario -->
      <h2>Datos del Perfil</h2>
      <input class="Inputs" type="text" formControlName="dni" required> <!-- Utiliza formControlName con el FormGroup -->
      <input class="Inputs" type="text" formControlName="name" required>
      <input class="Inputs" type="email" formControlName="email" required>
      <input class="Inputs" type="tel" formControlName="phone" required>
      <input class="Inputs" type="text" formControlName="dateOfBirth" required>
      <button class="botonEditarDatos" type="submit">Editar</button>
    </form>
      
      <div class="divLinkPaypal">
        <h2>Link PayPal</h2>
        <form>
          <div class="InputConIcono">
            <input class="inputPaypal" type="text" placeholder="Añade el link de Paypal..." formControlName="experiencia" required>
            <span class="iconoTargeta"> <span class="material-symbols-outlined"> credit_card </span> </span>
          </div>
          <button class="botonEditarDatos" type="submit">Editar</button>
        </form>
      </div>
  </div>


  
  <div class="derecha">
    <div class="divExperiencia">
      <h2>Experiencia Laboral</h2>
      <form class="FormularioExperiencia">
        <input class="inputExperiencia" type="text" placeholder="Escribe tu experiencia aqui..." formControlName="experiencia" required>
        <button class="botonEditar" type="submit">Editar</button>
      </form>
    </div>

    <div class="divHabilidades">
      <h2>Hablilidades</h2>
      <form class="FormularioExperiencia">
        <input class="inputHablididades" type="text" placeholder="Escribe tu experiencia aqui..." formControlName="experiencia" required>
        <button class="botonEditar" type="submit">Editar</button>
      </form>
    </div>

    
  </div>
</div>

<app-footer></app-footer>