<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="flex">
        <a routerLink="/home-comprador" class="logo">
            <div class="img">
                <img src="../../../assets/imatges/logo.png" height="50px">
            </div>
        </a>
    </div>

        <div class="links" style="margin-left: 175px;">
            <a routerLink="/crear-servicio" class="link link-center">Ofrecer Servicios</a>
            <a routerLink="/home-comprador" class="link link-center">Contrar Servicios</a>
        </div>

        <div class="flex">
            <a routerLink="/crear-servicio" class="link link-center">Contacto</a>
            <button routerLink="/login" class="login">Iniciar sesión</button>
            <button routerLink="/register" class="signup">Regístrate</button>
        </div>
</nav>