<div class="navbar">
    <div class="flex">
        <a routerLink="home" class="logo">
            <div class="flex">
                <div class="img">
                    <img src="../../../assets/logo.png" height="32px">
                </div>
                <div class="name">1to1</div>
            </div>
        </a>

        <div class="links" style="margin-left: -8px;">
            <a routerLink="" class="link link-left">Ofrecer Servicios</a>
        </div>
    </div>

    <div class="flex">
        <div class="links" style="margin-right: 24px;">
            <a routerLink="contacto" class="link link-right">Contacto</a>
        </div>

        <button routerLink="login" class="login">Iniciar sesión</button>
        <button routerLink="register" class="signup">Regístrate</button>
    </div>
</div>