<footer>
    <div class="div">
        <div class="left">
            <div class="voteit">© 2024 1to1</div>
            <div class="politicas">
                <a class="politica">Aviso Legal</a>
                <a class="politica">Política de privacidad</a>
                <a class="politica">Política de cookies</a>
            </div>
        </div>
        <div class="right">
            <a>
                Idioma: Español (España)
                <span class="arrow"></span>
            </a>
        </div>
    </div>
</footer>