<footer>
    <div class="div">
      <div class="left">
        <div class="voteit">© 2024 1to1</div>
        <div class="politicas">
          <a class="politica" (click)="navigateTo('')">{{'footer.avisoLegal' | translate }}</a>
          <a class="politica" (click)="navigateTo('politica-privacidad')">{{'footer.politicaPrivacidad' | translate }}</a>
          <a class="politica" (click)="navigateTo('politica-cookies')">{{'footer.politicaCookies' | translate }}</a>
          <a class="politica" (click)="navigateTo('contacto')">{{'footer.contacto' | translate }}</a>
        </div>
      </div>
      <div class="right">
        <a (click)="cambiarIdioma('es')"> Español </a>
        <span class="separator"> | </span>
        <a (click)="cambiarIdioma('en')"> English </a>
      </div>
    </div>
  </footer>
  