

<footer>
    <div class="div">
        <div class="left">
            <div class="voteit">© 2024 1to1</div>
            <div class="politicas">
                <a class="politica" routerLink="">Aviso Legal</a>
                <a class="politica" routerLink="politica-privacidad">Política de privacidad</a>
                <a class="politica" routerLink="politica-cookies">Política de cookies</a>
            </div>
        </div>
        <div class="right"  >
            <a (click)="cambiarIdioma('es')">
                Idioma: Español / 
                
            </a>
         
            <a (click)="cambiarIdioma('en')">
                Idioma: English  
                
                
            </a>
        </div>
    </div>
</footer>