<svg class="wave-bg" viewBox="0 0 1440 320">
    <path fill="#b40301" fill-opacity="1" d="M0,160L48,144C96,128,192,96,288,96C384,96,480,128,576,165.3C672,203,768,245,864,240C960,235,1056,181,1152,160C1248,139,1344,149,1392,154.7L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
</svg>
<div class="encabezado">
    <h2 class="titulo">{{ 'crearServicio.header_title' | translate }}</h2>
    <p class="descripcion">{{ 'crearServicio.header_description' | translate }}</p>
</div>

<div class="cuerpo">

    <div *ngIf="showConfirmation" class="popup">
        {{ 'crearServicio.confirmation' | translate }}
    </div>
    <div class="izquierda">
        <h3 class="tituloIzquierda"><span class="material-symbols-outlined">family_star</span> {{ 'crearServicio.to_know' | translate }}</h3>
        <div [ngClass]="{ 'hidden': !mostrarCategoria }">
            <p>{{ 'crearServicio.category_info' | translate }}</p>
        </div>

        <div [ngClass]="{ 'hidden': !mostrarNombre }">
            <p>{{ 'crearServicio.title_info' | translate }}</p><br>
        </div>

        <div [ngClass]="{ 'hidden': !mostrarDescripcion }">
            <p>{{ 'crearServicio.description_info' | translate }}</p>
        </div>

        <div [ngClass]="{ 'hidden': !mostrarTarifa }">
            <p>{{ 'crearServicio.price_info' | translate }}</p>
        </div>

        <div [ngClass]="{ 'hidden': !mostrarPoblacion }">
            <p>{{ 'crearServicio.location_info' | translate }}</p>
        </div>

        <div [ngClass]="{ 'hidden': !mostrarImagen }">
            <p>{{ 'crearServicio.image_info' | translate }}</p>
        </div>
    </div>

    <div class="derecha">
        <form [formGroup]="servicioForm" (ngSubmit)="submitForm()" #registroForm="ngForm">
            <!----------------------------CATEGORIA------------------------------------->
            <div [ngClass]="{ 'hidden': !mostrarCategoria }" class="mb-4">
                <div class="mb-3">
                    <h3 class="titulo" for="categoria">{{ 'crearServicio.choose_category' | translate }}</h3>
                    <select id="categoria" formControlName="categoria" required>
                        <option value=null></option>
                        <option *ngFor="let categoria of categorias" [value]="categoria.id">{{ categoria.nombre_cateogira }}</option>
                        <!-- Otros options -->
                    </select>
                    <div class="contenedor-botones">
                        <button type="button" class="bSiguiente" (click)="verNombreServicio()"
                            [disabled]="!servicioForm.get('categoria')?.valid">{{ 'crearServicio.next_button' | translate }}</button>
                    </div>
                </div>
            </div>

            <!----------------------------NOMBRE DEL SERVICIO------------------------------------->
            <div [ngClass]="{ 'hidden': !mostrarNombre }" class="mb-4">
                <div class="mb-3">
                    <h3 class="titulo">{{ 'crearServicio.service_title' | translate }}</h3>
                    <input type="text" formControlName="nombre" placeholder="{{ 'crearServicio.service_title_placeholder' | translate }}" required
                    (input)="countNombreLength($event)">
                    <div class="contador-letras">{{ nombreLength }}/60</div>
                </div>

                <div class="contenedor-botones">
                    <button type="button" (click)="volverCategoria()">{{ 'crearServicio.previous_button' | translate }}</button>
                    <button type="button" class="bSiguiente" (click)="verDescripcion()"
                        [disabled]="!servicioForm.get('nombre')?.valid">{{ 'crearServicio.next_button' | translate }}</button>
                </div>
            </div>

            <!----------------------------DESCRIPCION DEL SERVICIO------------------------------------->
            <div [ngClass]="{ 'hidden': !mostrarDescripcion }" class="mb-4">
                <div class="mb-3">
                    <h3 class="tituloDescripcion">{{ 'crearServicio.service_description' | translate }}</h3>
                    <textarea type="text" formControlName="descripcion" class="textareaDescripcion" placeholder="{{ 'crearServicio.service_description_placeholder' | translate }}" required
                    (input)="countDescripcionLength($event)"></textarea>
                    <div class="contador-letras">{{ descripcionLength }}/2000</div> <!-- Contador de letras -->
                    <div class="contenedor-botones">
                        <button type="button" (click)="volverNombreServicio()">{{ 'crearServicio.previous_button' | translate }}</button>
                        <button type="button" class="bSiguiente" (click)="verTarifa()"
                            [disabled]="!servicioForm.get('descripcion')?.valid">{{ 'crearServicio.next_button' | translate }}</button>
                    </div>
                </div>
            </div>

            <!-------------------------------------TARIFA-------------------------------------------->
            <div [ngClass]="{ 'hidden': !mostrarTarifa }" class="mb-4">
                <div class="mb-3">
                    <h3 class="tituloDescripcion">{{ 'crearServicio.price' | translate }}</h3>
                    <div style="position: relative;">
                        <span style="position: absolute; left: 5px; top: 50%; transform: translateY(-50%); pointer-events: none;">€</span>
                        <input type="number" formControlName="precio" required style="padding-left: 20px;">
                    </div>
                </div>
                

                <div class="contenedor-botones">
                    <button type="button" (click)="volverDescripcion()">{{ 'crearServicio.previous_button' | translate }}</button>
                    <button type="button" class="bSiguiente" (click)="verPoblacion()" [disabled]="!servicioForm.get('precio')?.valid">{{ 'crearServicio.next_button' | translate }}</button>
                </div>
            </div>

            <!-----------------------------------POBLACIÓN-------------------------------------------->
            <div [ngClass]="{ 'hidden': !mostrarPoblacion }" class="mb-4">
                <div class="mb-3">
                    <h3 class="tituloDescripcion">{{ 'crearServicio.choose_location' | translate }}</h3>
                    <select id="poblacion" formControlName="poblacion" required>
                        <option value=null></option>
                        <option *ngFor="let poblacion of poblaciones " [value]="poblacion.id_poblacion">{{ poblacion.nombre_poblacion }}</option>
                        <!-- Otros options -->
                    </select>
                </div>

                <div class="contenedor-botones">
                    <button type="button" (click)="volverTarifa()">{{ 'crearServicio.previous_button' | translate }}</button>
                    <button type="submit" [disabled]="!servicioForm.valid">{{ 'crearServicio.create_button' | translate }}</button>
                </div>
            </div>
        </form>
    </div>
</div>
