.wave-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 120%;
    height: 170.5%;
    z-index: -1;
  }
  
  /* Estilo para el popup */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(167, 19, 19, 0.9);
  color: white;
  padding: 20px;
  border-radius: 10px;
  z-index: 9999;
}

  .cuerpo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3% 4%;
    height: auto;
  }

h1 { font-size: 30px; }
h2 { font-size: 26px; }
#texto { font-size: 16px; font-weight: 400; width: 90%; }

#BIzquierda{width: 70%; padding: 30px; display: block;}
#Linea{width: 95%; float: left;}

#Formulario{display: block; font-size: 20px; font-weight: bold;}

.col-md-11{
    max-width: 86%;
    margin-left: -12px;

}

label{
    font-size: 18px;
}

#BEnviar{
    background-color: #b40301;
    border-radius: 10px; 
    width: 100px;
    font-size: 18px; 
    color: white;
    font-weight: bolder;
    border: none;
    padding: 10px;
    transition: box-shadow 0.3s;
}

#BEnviar:hover{transform: scale(1.02);}

#BDerecha{width: 23%; padding: 30px; display: block; margin-top: 7px;}
#Linea2{width: 100%; float: left;}