<div  class="cuerpo">
    
    <div id="BIzquierda">
        <h1>Déjanos un mensaje</h1>
        <hr id="Linea" size="2">
        <br>

        <div id="Formulario">
            <br>
            <p id="texto">Comparte tus preguntas con nuestro equipo de soporte y te responderemos rápidamente para que puedas continuar con tu proyecto.</p>
            <br>

            <!------------FALTA CONECTAR EL FORMULARIO------------>
            <form  method="post">

                <div class="row">
                    <div class="col-md-5">
                        <label for="nombre">Nombre</label>
                        <input type="nombre" class="form-control" id="nombre" placeholder="Escribe tu nombre" name="nombre">
                    </div>

                    <div class="col-md-5">
                        <label for="apellido">Apellido</label>
                        <input type="apellido" class="form-control" id="apellido" placeholder="Escribe tu apellido" name="apellido">
                    </div>
                </div>
                
                <div class="col-md-11">
                    <label  for="asunto">Asunto</label>
                    <input  id="inputs" type="asunto" class="form-control" id="asunto" placeholder="Escribe el asutno" name="asunto">
                </div>

                <div class="col-md-11">
                    <label for="mensaje">Mensaje</label>
                    <input id="inputs" type="mensaje" class="form-control" id="mensaje" placeholder="Escribe tu mensaje" name="nombre"><br>
                </div>
        
                <input type="submit" value="Enviar" id="BEnviar" class="btn btn-default">
            </form>

        </div>

    </div>
    <div id="BDerecha">
        <h2>Nuestra Oficina</h2>
        <hr id="Linea2" size="2">
        <br>
        <p>C/ Avinguda de les Garrigues 34. 25001,Lleida, Spain.</p>
        <p>Support. WhatsApp: <strong>(+34) 655 645 535</strong></p>
        <p>Email: <strong>1to1&commat;gmail.com</strong></p>
    </div>
</div>