<form>
    <h1>Crea aqui tu servicio</h1>
    <div class="nombreS">
        <label for="nombre">Nombre de servicio</label>
        <input type="text" id="nombre" name="nombre" required>
    </div>
    <div class="precio">
        <label for="precio">Precio</label>
        <input type="number" id="precio" name="precio" required>
    </div>
    <div class="categoria">
        <label for="categoria">Categoría</label>
        <select id="categoria" name="categoria" required>
            <option value="">Selecciona una categoría</option>
            <option *ngFor="let categoria of categorias" [value]="categoria.id">{{ categoria.nombre_categoria }}</option>
        </select>
    </div>
    <div class="poblacion">
        <label for="poblacion">Población</label>
        <input type="text" id="poblacion" name="poblacion" required>
    </div>

    <div class="descripcion">
        <label for="descripcion">Descripción</label>
        <textarea id="descripcion" name="descripcion" required></textarea>
    </div>

    <button type="submit">Crear servicio</button>
</form>