<div class="encabezado">
    <h2 class="titulo"> {{ 'contratar-servicio.titulo' | translate }}</h2>
    <p class="descripcion"> {{ 'contratar-servicio.descripcion2' | translate }}</p>
</div>

<div class="cuerpo">

    <div *ngIf="showConfirmation" class="popup">
        {{ 'contratar-servicio.confirmacion' | translate }}
    </div>
    <div class="izquierda">
        <h3 class="tituloIzquierda"><span class="material-symbols-outlined">family_star</span>  {{ 'contratar-servicio.aSaber' | translate }}</h3>
        <div [ngClass]="{ 'hidden': !mostrarDescripcion }">
            <p> {{ 'contratar-servicio.descripcion' | translate }}</p>
        </div>

        <div [ngClass]="{ 'hidden': !mostrarDate }">
            <p>{{ 'contratar-servicio.fecha' | translate }}</p><br>
        </div>


        <div [ngClass]="{ 'hidden': !mostrarMetodoPago }">
            <p>{{ 'contratar-servicio.pago' | translate }}</p><br>
        </div>
    </div>

    <div class="derecha">
        <form [formGroup]="servicioForm" (ngSubmit)="submitForm()">
            <!----------------------------DESCRIPCION DEL SERVICIO------------------------------------->
            <div [ngClass]="{ 'hidden': !mostrarDescripcion }" class="mb-4">
                <div class="mb-3">
                    <h3 class="tituloDescripcion">{{ 'contratar-servicio.describe' | translate }} <span style="color: #b40301">{{ 'contratar-servicio.tuProblema' | translate }}</span></h3>
                    <textarea type="text" formControlName="descripcion" class="textareaDescripcion" placeholder="{{ 'contratar-servicio.ejemplo' | translate}}" required (input)="countDescripcionLength($event)"></textarea>
                    <div class="contador-letras">{{ descripcionLength }}/200</div> <!-- Contador de letras -->
                    <div class="contenedor-botones">
                       <button type="button" (click)="anteriorDescripcion()">{{ 'contratar-servicio.anterior' | translate }}</button>
                       <button type="button" class="bSiguiente" (click)="verDate()" [disabled]="!servicioForm.get('descripcion')?.valid">{{ 'contratar-servicio.siguiente' | translate }}</button>
                    </div>
                </div>
            </div>

            <!-------------------------------------Fecha de realización-------------------------------------------->
            <div [ngClass]="{ 'hidden': !mostrarDate }" class="mb-4">
                <div class="mb-3">
                    <h3 class="tituloDescripcion"><span style="color: #b40301">{{ 'contratar-servicio.fecha1' | translate }}</span> {{ 'contratar-servicio.fecha2' | translate }}</h3>
                    <input type="date" formControlName="date_servicio" [min]="minDate" [max]="maxDate" required>
                    <div *ngIf="servicioForm.controls['date_servicio'].errors?.['dateRange']" class="alert alert-danger">
                        {{ 'contratar-servicio.errorFecha' | translate }}
                    </div>
                </div>
            
                <div class="contenedor-botones">
                    <button type="button" (click)="anteriorDescripcion()">{{ 'contratar-servicio.anterior' | translate }}</button>
                    <button type="button" (click)="verMetodoPago()" [disabled]="!servicioForm.valid">{{ 'contratar-servicio.siguiente' | translate }}</button>
                </div>
            </div>
            
             <!-------------------------------------Metodo de Pago-------------------------------------------->
            <div id="metodoPago" [ngClass]="{ 'hidden': !mostrarMetodoPago }" class="mb-4">
                <h3 class="tituloDescripcion">{{ 'contratar-servicio.realizarPago' | translate }}</h3>
                <form action="#" class="credit-card-div">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="text" class="form-control" placeholder="{{ 'contratar-servicio.introducirTarjeta' | translate }}" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <span class="help-block text-muted small-font">{{ 'contratar-servicio.mesExpiracion' | translate }}</span>
                                    <input type="text" class="form-control" placeholder="MM" />
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <span class="help-block text-muted small-font">{{ 'contratar-servicio.añoExpiracion' | translate }}</span>
                                    <input type="text" class="form-control" placeholder="AA" />
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3" style="display: flex; flex-direction: column;">
                                    <span class="help-block text-muted small-font">CCV</span>
                                    <input type="text" class="form-control" placeholder="CCV" />
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <img src="../../../../../assets/imatges/Visa_Logo.png" class="img-rounded" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 pad-adjust">
                                    <input type="text" class="form-control" placeholder="{{ 'contratar-servicio.nombreTarjeta' | translate }}" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
    
                <div class="contenedor-botones">
                    <button type="button" (click)="anteriorDate()">{{ 'contratar-servicio.anterior' | translate}}</button>
                    <button type="submit" [disabled]="!servicioForm.valid">{{ 'contratar-servicio.enviarSolicitud' | translate }}</button>
                </div>
            </div>
        </form>
    </div> 
</div>
