<svg class="wave-bg" viewBox="0 0 1440 320">
    <path fill="#b40301" fill-opacity="1" d="M0,160L48,144C96,128,192,96,288,96C384,96,480,128,576,165.3C672,203,768,245,864,240C960,235,1056,181,1152,160C1248,139,1344,149,1392,154.7L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
</svg>

<div class="encabezado">
    <h2 class="titulo">{{ 'service_creation.title' | translate }}</h2>
    <p class="descripcion">{{ 'service_creation.description' | translate }}</p>
</div>

<div class="cuerpo">

    <div *ngIf="showConfirmation" class="popup">
        {{ 'service_creation.confirmation_message' | translate }}
    </div>
    <div class="izquierda">
        <h3 class="tituloIzquierda"><span class="material-symbols-outlined">family_star</span> {{ 'service_creation.to_know.title' | translate }}</h3>
        <div [ngClass]="{ 'hidden': !mostrarDescripcion }">
            <p>{{ 'service_creation.to_know.description_detail' | translate }}</p>
        </div>

        <div [ngClass]="{ 'hidden': !mostrarDate }">
            <p>{{ 'service_creation.to_know.date_detail' | translate }}</p><br>
        </div>

    </div>

    <div class="derecha">
        <form [formGroup]="servicioForm" (ngSubmit)="submitForm()" >
            <!----------------------------DESCRIPCION DEL SERVICIO------------------------------------->
            <div [ngClass]="{ 'hidden': !mostrarDescripcion }" class="mb-4">
                <div class="mb-3">
                    <h3 class="tituloDescripcion"><span style="color: #b40301">{{ 'service_creation.desc_prefix' | translate }}</span> {{ 'service_creation.desc_description' | translate }}</h3>
                    <textarea type="text" formControlName="descripcion" class="textareaDescripcion" placeholder="{{ 'service_creation.placeholders.description' | translate }}" required (input)="countDescripcionLength($event)"></textarea>
                    <div class="contador-letras">{{ descripcionLength }}/200</div> <!-- Contador de letras -->
                    <div class="contenedor-botones">
                        <button type="button" class="bSiguiente" (click)="verDate()" [disabled]="!servicioForm.get('descripcion')?.valid">{{ 'service_creation.buttons.next' | translate }}</button>
                    </div>
                </div>
            </div>

            <!-------------------------------------TARIFA-------------------------------------------->
            <div [ngClass]="{ 'hidden': !mostrarDate }" class="mb-4">
                <div class="mb-3">
                    <h3 class="tituloDescripcion"><span style="color: #b40301">{{ 'service_creation.date_prefix' | translate }}</span> {{ 'service_creation.date_description' | translate }}</h3>
                    <input type="date" formControlName="date_servicio" required>
                </div>

                <div class="contenedor-botones">
                    <button type="button" (click)="anteriorDescripcion()">{{ 'service_creation.buttons.previous' | translate }}</button>
                    <button type="submit" [disabled]="!servicioForm.valid">{{ 'service_creation.buttons.submit' | translate }}</button>
                </div>
            </div>
        </form>
    </div> 
</div>
