<div class="body">
    <p>Los profesionales con más puntuaciones por la comunidad <img src="../assets/imatges/grupopEstrellas.png" alt="estrellas"></p>
    
      <div class="card estilo-b" *ngFor="let service of topRatedServices">  
          <div class="img-container">
              <img src="../../../../../assets/herramientas-de-carpinteria_seveiestaci.jpg" >
              <span class="price">{{service.tarifa}}</span>
              <span class="favorite">
                 
              </span>
          </div>
          <div class="infoS">
              <p class="titulo">{{service.titulo}}</p>
              <span class="material-symbols-outlined">
                  star <p>{{service.puntuacion_valoracion}}</p>
              </span>
              <span class="material-symbols-outlined">
                  where_to_vote <p class="lugar">{{service.poblacion.nombre_poblacion}}</p>
              </span>
          </div>
  
          <a href="#">Ver mas</a>
      </div>
  </div>