/* Estilos Base */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.wave-bg {
  position: fixed;
  top: 0; /* Cambiamos 'bottom: 0' a 'top: 0' para que el elemento esté en la parte superior */
  left: 0;
  width: 120%;
  height: 60%;

  z-index: -1;
}
 



body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.contenido {
  padding: 150px;
  display: flex;
  justify-content: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr)); /* Columnas de 3 inicialmente */
  gap: 100px;
}
.card {
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  min-width: 300px; /* Tamaño mínimo para las tarjetas */
  z-index: 999; /* Asegúrate de que el z-index de las tarjetas sea inferior al del encabezado */
}


.card:hover {
  transform: translateY(-5px);
}

.img-container {
  position: relative;
  overflow: hidden;
}

.img-container img {
  width: 100%;
  height: auto;
  display: block;
}

.price {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ff4b2b;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

.info {
  padding: 20px;
}

.titulo {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.rating{
  display: flex;
  align-items: center;
  justify-content: space-around;
}



span{
  display: flex;
  align-items: center;
}

.rating p,
.lugar p {
  margin: 0;
  display: inline-flex;
  align-items: center; /* Alinear símbolos y valores verticalmente */
  font-size: 20px;
  color: rgb(0, 0, 0);
  font-weight: 500;
}

.material-symbols-outlined {
  font-size: 22px;
  margin-right: 5px;
}

a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #ff4b2b;
  padding: 10px 0;
  border-radius: 0 0 12px 12px;
  transition: background-color 0.3s ease;
}

a:hover {
  background-color: #ff416c;
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Cambiar tamaño mínimo de las tarjetas en dispositivos móviles */
  }
}