<div class="loading-spinner" *ngIf="loading">
  <!-- Aquí puedes usar cualquier biblioteca de ruedita de carga o implementar tu propio spinner -->
  <div class="spinner"></div>
</div>

<div class="buscar-container">
  <input type="text" [(ngModel)]="buscarPalabra" placeholder="{{ 'home.search_placeholder' | translate }}" (keyup.enter)="searchServices()" class="buscar-input">
  <button (click)="searchServices()" class="buscar-button"> <img src="../../../assets/imatges/busqueda.png" height="30px"></button>
</div>





<br>

<div class="contenido" *ngIf="!loading">
  <div class="tituloHome" *ngIf="!loading">
    <h1>Encuentra tu <span style="color: #b40301">Profesional</span></h1>
  </div>
  <br>
  <br>
  <br>
  <section class="grid-container">
    <button id="a" class="botonPagina prev" (click)="prevPage()" [disabled]="currentPage === 1"><span id="a" class="material-symbols-outlined">arrow_back_ios</span></button>


    <div class="card estilo-b" *ngFor="let service of topRatedServices.slice(getStartIndex(), getEndIndex())">

      <div class="wavy-background"></div>
      <div class="img-container">
        <img [src]="service.user.image" alt="Foto de perfil">
        <span class="price">{{service.tarifa}} €</span>
      </div>
      <div class="info">
        <p class="titulo">{{service.tipo_servicio}}</p>
        <div class="rating">
          <span class="material-symbols-outlined">
            star <p>{{service.puntuacion_valoracion}}</p>
          </span>
          <span class="material-symbols-outlined">
            where_to_vote <p class="lugar">{{service.poblacion.nombre_poblacion}}</p>
          </span>
        </div>
      </div>
      <a [routerLink]="['/servicios', service.id_servicios]">{{ 'home.view_more' | translate }}</a>
    </div>
  </section>
 

    <button id="a" class="botonPagina next" (click)="nextPage()" [disabled]="currentPage === getTotalPages()" ><span id="a" class="material-symbols-outlined">arrow_forward_ios</span></button>  </div>

  <br>

  <br>

  <br>

  <br>

  <br>

  <h3 class="titulo" for="categoria" style="font-size: xx-large;"  *ngIf="!loading">{{ 'home.categories_title' | translate }}</h3>



<div class="container" *ngIf="!loading">
  <div class="column" *ngFor="let column of columns">
    <a class="category" *ngFor="let category of getColumnCategories(column)"
      [class.selected]="selectedCategoryId === category.id" (click)="onSelectCategory(category.id)">
      {{category.nombre_categoria | translate}}
    </a>
  </div>
</div>

<div class="contenedor" *ngIf="!loading">
  <div class="grande">
    <img src="../../../assets/imatges/servicio_imagen_example.jpg" alt="" class="imagen-fondo">
    <div class="texto">
      <p style="font-weight: 800; font-size: 150%;">{{ 'home.create_service_button' | translate }}</p>
      <br>
      <p style="font-weight: 500;">{{ 'home.create_service_description' | translate }}</p>
      <button class="boton" routerLink="/crear-servicio">{{ 'home.create_service_button' | translate }}</button>
    </div>
  </div>
</div>



<!--------------------COMENTARIOS----------------->
<div class="generalRecomendados" *ngIf="!loading">
  <div class="izquierda">
    <h1>Los Profesionales Más Destacados</h1>
  </div>
  <div class="derecha">
    <div class="option" style="background-color: rgba(214, 181, 237, 0.232);">
      <div class="option-content">
        <img src="../../../assets/imatges/prof1.jpeg" alt="Icon 1" class="profile-pic">
        <div class="text-container">
          <h3>{{ 'home.testimonial1_name' | translate }}</h3>
          <p>{{ 'home.testimonial1_location' | translate }}</p>
        </div>
      </div>
    
      <div class="divUsuario">
        <p class="infoUsuario">{{ 'home.testimonial1_text' | translate }}</p>
      </div>
    </div>
  </div>

  <div class="derecha">
    <div class="option" style="background-color: rgba(181, 226, 237, 0.232);">
      <div class="option-content">
        <img src="../../../assets/imatges/prof1.jpeg" alt="Icon 1" class="profile-pic">
        <div class="text-container">
          <h3>{{ 'home.testimonial2_name' | translate }}</h3>
          <p>{{ 'home.testimonial2_location' | translate }}</p>
        </div>
      </div>
    
      <div class="divUsuario">
        <p class="infoUsuario">{{ 'home.testimonial2_text' | translate }}</p>
      </div>
    </div>
  </div>

  <div class="derecha">
    <div class="option" style="background-color: rgba(237, 181, 181, 0.232);">
      <div class="option-content">
        <img src="../../../assets/imatges/prof1.jpeg" alt="Icon 1" class="profile-pic">
        <div class="text-container">
          <h3>{{ 'home.testimonial3_name' | translate }}</h3>
          <p>{{ 'home.testimonial3_location' | translate }}</p>
        </div>
      </div>
    
      <div class="divUsuario">
        <p class="infoUsuario">{{ 'home.testimonial3_text' | translate }}</p>
      </div>
    </div>
  </div>
</div>
