*{
  box-sizing: border-box;
}

section {
  width: 100%;
  gap: 5px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 30px ;
}

section h2 {
  width: 100%;
  color: #999;
  font-family: monospace;
}

.card {
  width: fit-content;
  margin-top: 100px;
}

.card.estilo-b{
  width: 17%;
}

.estilo-b {
  font-family: sans-serif;
  text-align: center;
  width: 2    0%;
  height: auto;
}

.estilo-b .img-container {
  overflow: hidden;
  position: relative;
}

.estilo-b .img-container img {
  width: 100%;
}

.estilo-b .img-container .price {
  position: absolute;
  top: 10px;
  left: 0;
  font-size: 20px;
  background: white;
  padding: 15px;
}

.estilo-b .img-container .favorite {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: white;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.estilo-b .img-container .favorite svg {
  transform: translateY(14px);
}

.estilo-b .img-container .favorite:hover {
  background: red;
}

.estilo-b .img-container .favorite:hover svg {
  fill: white;
}

.estilo-b a {
  display: inline-block;
  margin-top: 2px;
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 15px;
  border: 1px solid black;
}

.estilo-b a:hover {
  color: black;
  background-color: transparent;
  border: 1px solid black;
}

span {
  display: flex;
  justify-content: center;
  gap: 2px;
}

span p {
  font-size: 20px;
  padding: 2px;
}

.material-symbols-outlined {
  position: end;
}

.infoS {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.titulo {
  font-size: larger;
}

@media (min-width: 768px) { 
  .estilo-b {
      width: 45%; 
  }
}