<div class="loading-spinner" *ngIf="loading">
  <!-- Aquí puedes usar cualquier biblioteca de ruedita de carga o implementar tu propio spinner -->
  <div class="spinner"></div>
</div>

<br>

<div class="contenido" *ngIf="!loading">
  <h1 class="titulo1">{{ 'home.title1' | translate }}</h1>
  <br>
  <br>
  <br>
  <section class="grid-container">
    <div class="card estilo-b" *ngFor="let service of topRatedServices.slice(getStartIndex(), getEndIndex())">

      <div class="wavy-background"></div>
      <div class="img-container">
        <img [src]="service.user.image" alt="Foto de perfil">
        <span class="price">{{service.tarifa}} €</span>
      </div>
      <div class="info">
        <p class="titulo">{{service.tipo_servicio}}</p>
        <div class="rating">
          <span class="material-symbols-outlined">
            star <p>{{service.puntuacion_valoracion}}</p>
          </span>
          <span class="material-symbols-outlined">
            where_to_vote <p class="lugar">{{service.poblacion.nombre_poblacion}}</p>
          </span>
        </div>
      </div>
      <a [routerLink]="['/servicios', service.id_servicios]">{{ 'home.view_more' | translate }}</a>
    </div>
  </section>
  <div class="pagination-container">
    <button class="pagination-button" (click)="prevPage()" [disabled]="currentPage === 1">{{ 'home.prev_button' | translate }}</button>

    <button class="pagination-button" (click)="nextPage()" [disabled]="currentPage === getTotalPages()">{{ 'home.next_button' | translate }}</button>
  </div>

  <br>

  <br>

  <br>

  <br>

  <br>

  <h3 class="titulo" for="categoria" style="font-size: xx-large;">{{ 'home.categories_title' | translate }}</h3>

</div>

<div class="container" *ngIf="!loading">
  <div class="column" *ngFor="let column of columns">
    <a class="category" *ngFor="let category of getColumnCategories(column)"
      [class.selected]="selectedCategoryId === category.id" (click)="onSelectCategory(category.id)">
      {{category.nombre_categoria | translate}}
    </a>
  </div>
</div>

<div class="contenedor" *ngIf="!loading">
  <div class="grande">
    <img src="../../../assets/imatges/servicio_imagen_example.jpg" alt="" class="imagen-fondo">
    <div class="texto">
      <p style="font-weight: 800; font-size: 150%;">{{ 'home.create_service_button' | translate }}</p>
      <br>
      <p style="font-weight: 500;">{{ 'home.create_service_description' | translate }}</p>
      <button class="boton" routerLink="/crear-servicio">{{ 'home.create_service_button' | translate }}</button>
    </div>
  </div>
</div>

<h1 *ngIf="!loading">{{ 'home.evidence_title' | translate }}</h1>

<div class="options-container" *ngIf="!loading">

  <div class="option" style="background-color: rgba(224, 237, 181, 0.232);">
    <div class="option-content">
      <img src="../../../assets/imatges/prof1.jpeg" alt="Icon 1" class="profile-pic">
      <div class="text-container">
        <h3>{{ 'home.testimonial1_name' | translate }}</h3>
        <p>{{ 'home.testimonial1_location' | translate }}</p>
      </div>

    </div>
    <br>
    <br>

    <p>{{ 'home.testimonial1_text' | translate }}</p>
  </div>

  <!-- More testimonials here -->

</div>
