# Ignorar directorios de salida compilados
/dist
/tmp
/out-tsc
/bazel-out

# Node.js
/node_modules
npm-debug.log
yarn-error.log

# IDEs y editores comunes
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/
.history/

# Excepciones para archivos de configuración importantes de VS Code
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Cache y logs de Angular
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# Archivos del sistema
.DS_Store
Thumbs.db
