/* Estilo para las imágenes de perfil */
.imagen {
    width: 100%;
    border-radius: 10px;
    /* Redondea las esquinas de la imagen */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    /* Agrega sombra */
}

div.body .tarjeta a[routerLink] {
    text-decoration: none;
    user-select: none;
    /* Evita que el texto sea seleccionable */
    -webkit-user-select: none;
    /* Para navegadores WebKit (Chrome, Safari, etc.) */
    -moz-user-select: none;
    /* Para navegadores basados en Gecko (Firefox) */
    -ms-user-select: none;
    /* Para Internet Explorer */
}

.estrella {
    width: 5%;
}

.enlinea {
    display: flex;
}

/* Estilo para el contenedor de la tarjeta */
/* Estilo para el contenedor de las tarjetas */
.tarjetas {
    display: flex;
    /* Utiliza Flexbox para alinear las tarjetas */
    flex-wrap: wrap;
    /* Permite que las tarjetas se envuelvan a la siguiente fila */
    justify-content: space-between;
    /* Distribuye las tarjetas horizontalmente con espacios iguales */
}

/* Estilo para cada tarjeta */
.tarjeta {
    width: calc(25% - 40px);
    /* Calcula el ancho de cada tarjeta para que haya 4 tarjetas por fila con espacios */
    margin: 20px;
    /* Margen entre las tarjetas */
    padding: 20px;
    /* Espacio interno dentro de la tarjeta */
    border-radius: 10px;
    /* Redondea las esquinas de la tarjeta */
    background-color: #f9f9f9;
    /* Color de fondo de la tarjeta */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    /* Agrega sombra */
    transition: transform 0.3s ease;
    /* Agrega transición suave */
}


/* Estilo para el nombre del usuario */
.nombre {
    font-size: 24px;
    /* Tamaño de fuente más grande */
    margin-top: 10px;
    /* Espacio superior entre la imagen y el nombre */
}

/* Estilo para la ciudad */
.ciudad {
    font-size: 18px;
    /* Tamaño de fuente más pequeño */
    color: #666;
    /* Color de texto más claro */
}

/* Efecto de hover para las tarjetas */
.tarjeta:hover {
    transform: translateY(-5px);
    /* Eleva ligeramente la tarjeta al pasar el mouse sobre ella */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    /* Aumenta la sombra */
}