<div class="body">

    <h1>Política de cookies para la empresa 1to1</h1>

<h2>1. Introducción</h2>
<p>Bienvenidos a la política de cookies de la empresa 1to1, dedicada a ofrecer servicios para profesionales que desean
    generar ingresos adicionales y ofrecer sus servicios laborales a otros. Esta política tiene como objetivo informar a
    nuestros usuarios sobre el uso de cookies en nuestra página web para garantizar una experiencia segura y
    transparente durante su visita. A lo largo de este documento, detallaremos el uso de cookies técnicas, de análisis y
    de publicidad, así como los métodos para gestionarlas.</p>

<h3>1.1. Propósito de la política</h3>
<p>Nuestro compromiso con la transparencia y protección de datos se refleja en la implementación de esta política, la
    cual describe detalladamente los tipos de cookies que utilizamos, su finalidad y cómo puede gestionarlas. Nos
    comprometemos a respetar la privacidad de nuestros visitantes y a ofrecerles la mejor experiencia posible en nuestra
    plataforma en línea. Su confianza es fundamental para nosotros y estamos constantemente trabajando para mejorar
    nuestras prácticas de privacidad y seguridad en línea. ¡Gracias por su confianza en 1to1!</p>

<h3>1.2. Alcance de la política</h3>
<p>Esta política de cookies se aplica exclusivamente a la página web de la empresa 1to1 y regula el uso de cookies en
    este entorno digital. Todos los usuarios que visiten nuestra plataforma estarán sujetos a las disposiciones
    establecidas en este documento, el cual describe de manera detallada el manejo de cookies técnicas, de análisis y de
    publicidad en nuestra web. Es importante destacar que esta política puede actualizarse ocasionalmente para reflejar
    cambios en nuestras prácticas o en la normativa aplicable.</p>

<h2>2. Cookies utilizadas</h2>

<h3>2.1. Cookies técnicas</h3>
<p>Las cookies técnicas empleadas por la empresa 1to1 son necesarias para que el sitio web funcione de manera óptima y
    para permitir a los usuarios acceder a los servicios ofrecidos. Estas cookies no recopilan información personal y
    son esenciales para garantizar la seguridad y privacidad de los datos de los profesionales que utilizan la
    plataforma. Su uso está amparado por la legislación vigente en cuanto a protección de datos y privacidad en línea.
</p>

<h3>2.2. Cookies de análisis</h3>
<p>Las cookies de análisis son utilizadas por la empresa 1to1 para recopilar información sobre la interacción de los
    usuarios con el sitio web. Estos datos son empleados para mejorar la calidad de los servicios ofrecidos,
    personalizar la experiencia del usuario y realizar análisis estadísticos sobre el rendimiento de la plataforma. El
    objetivo es optimizar la navegación de los profesionales y ofrecerles contenido relevante a sus intereses laborales.
    Las cookies de análisis también nos permiten detectar y corregir posibles problemas técnicos en el sitio web.</p>

<h3>2.3. Cookies de publicidad</h3>
<p>La empresa 1to1 utiliza cookies de publicidad para mostrar anuncios personalizados a los profesionales que visitan el
    sitio web. Estas cookies permiten ofrecer contenido comercial adaptado a las preferencias de los usuarios y mejorar
    la efectividad de las campañas publicitarias. La información recopilada a través de estas cookies se utiliza de
    forma ética y respetando la privacidad de los usuarios, en cumplimiento con la normativa de protección de datos
    vigente. Además, utilizamos cookies de terceros para medir la efectividad de nuestras campañas publicitarias y para
    ofrecer a nuestros usuarios anuncios relevantes en otros sitios web.</p>

<h2>3. Gestión de cookies</h2>

<h3>3.1. Aceptación de cookies</h3>
<p>Para aceptar las cookies en la plataforma de 1to1, los usuarios simplemente deberán hacer clic en el botón de
    aceptación que aparece en el aviso de cookies al ingresar al sitio web. Al hacerlo, estarán dando su consentimiento
    para que se utilicen las cookies según lo establecido en la política de cookies de la empresa. Los usuarios también
    pueden aceptar el uso de cookies mediante la configuración de su navegador.</p>

<h3>3.2. Configuración del navegador</h3>
<p>La configuración del navegador para gestionar las cookies en la web de 1to1 es sencilla. Los usuarios pueden
    modificar las preferencias de cookies en su navegador seleccionando qué tipo de cookies desean permitir, bloquear o
    eliminar. Esta opción les otorga un control personalizado sobre la privacidad y seguridad de sus datos. Sin embargo,
    es importante tener en cuenta que el bloqueo de ciertas cookies puede afectar negativamente la funcionalidad del
    sitio web y limitar la experiencia del usuario.</p>

<h3>3.3. Revocación del consentimiento</h3>
<p>En caso de que los usuarios deseen revocar su consentimiento para el uso de cookies en la plataforma de 1to1, pueden
    hacerlo modificando la configuración de cookies en su navegador o contactando directamente con el equipo de soporte
    de la empresa. Esta acción les permite retirar el consentimiento de forma efectiva y proteger su privacidad. Sin
    embargo, es importante tener en cuenta que la revocación del consentimiento puede afectar negativamente la
    funcionalidad del sitio web y limitar la experiencia del usuario.</p>

<h2>4. Cambios en la política</h2>
<p>En caso de realizar cambios en la política de cookies de la empresa 1to1, se notificará a los usuarios a través de un
    aviso en la página web. Los cambios entrarán en vigencia una vez publicados, por lo que se recomienda a los usuarios
    revisar periódicamente la política para estar al tanto de cualquier actualización. Cualquier modificación se
    realizará en cumplimiento de la normativa vigente y en aras de garantizar la transparencia y el correcto uso de las
    cookies en nuestro sitio.</p>
</div>
