<!-- Spinner de carga -->
<div class="loading-spinner" *ngIf="loading">
  <div class="spinner"></div>
</div>

<!-- Contenido de los servicios -->
<div *ngIf="!loading">
  <h2>Mis Servicios</h2>
  <hr class="hr" />
  <div *ngIf="servicios.length > 0" class="servicios-container">
    <div *ngFor="let servicio of servicios" class="servicio-card">
      <h3>{{ servicio.tipo_servicio }}</h3>
      <p>{{ servicio.descripcion }}</p>
      <p>{{ servicio.tarifa }}€</p>
      
      <!-- Botones de acción -->
      <div class="buttons">
        <a [routerLink]="['/servicios', servicio.id_servicios]" class="button view-button"><i class="fas fa-info-circle"></i> Ver más</a>
        <button (click)="toggleEditForm(servicio)" class="button edit-button"><i class="fas fa-edit"></i> Editar</button>
        <button (click)="eliminarServicio(servicio.id_servicios)" class="button delete-button"><i class="fas fa-trash-alt"></i> Eliminar</button>
      </div>
      
      <!-- Formulario de edición -->
      <div *ngIf="servicioEditando && servicioEditando.id_servicios === servicio.id_servicios" class="edit-form">
        <form (ngSubmit)="actualizarServicio()" class="edit-form-inner">
          <h4>Editar Servicio</h4>
          <div class="form-group">
            <label for="tipo">Tipo de servicio:</label>
            <input type="text" [(ngModel)]="servicioEditando.tipo_servicio" id="tipo" name="tipo" class="form-control">
          </div>
          <div class="form-group">
            <label for="descripcion">Descripción:</label>
            <textarea [(ngModel)]="servicioEditando.descripcion" id="descripcion" name="descripcion" class="form-control"></textarea>
          </div>
          <div class="form-group">
            <label for="tarifa">Tarifa (€):</label>
            <input type="number" [(ngModel)]="servicioEditando.tarifa" id="tarifa" name="tarifa" class="form-control">
          </div>
          <button type="submit" class="btn btn-primary">Actualizar Servicio</button>
          <button type="button" class="btn btn-secondary" (click)="toggleEditForm(servicio)">Cancelar</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Mensaje si no hay servicios -->
<div *ngIf="!loading">
  <ng-template #noServicios>
    <p>No se encontraron servicios.</p>
  </ng-template>
</div>
