<div class="main">
  <div class="loading-spinner" *ngIf="loading">
    <!-- Implementa tu spinner aquí -->
    <div class="spinner"></div>
  </div>

  <div class="content-container">
    <div class="left-content">
      <div class="col-md-6">
        <h2 class="tituloCrearServicio">Crear Servicio</h2>
        <p class="texto">Crear tu propio servicio te brinda la oportunidad de destacar tus habilidades únicas y llegar a
          una audiencia específica, potenciando tu visibilidad y oportunidades de negocio en nuestra plataforma.</p>


        <a routerLink="/crear-servicio" class="btn btn-primary">Crear</a>

      </div>
    </div>

<!-- Mensaje si no hay servicios -->
<div *ngIf="!loading">
  <ng-template #noServicios>
    <p>No se encontraron servicios.</p>
  </ng-template>
</div>