<p *ngIf="errorMessage" class="error" style="color: red;">{{ errorMessage }}</p>

<div class="tarjetaLogin">
    <h1 class="titulo">Inicia sesión</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <input class="Inputs" type="text" placeholder="DNI" formControlName="dni" required> 
        <input class="Inputs" type="password" placeholder="Contraseña" formControlName="password" required>
        <button type="submit">Iniciar sesión</button>
    </form>

    <p>¿No tienes cuenta?</p>
    <a routerLink="/register">Regístrate</a>
</div>
