<div class="cuerpo">
    <div class="izquierda" >
    
    </div>
    
    
    
    
    
    <div class="derecha">
        <form (ngSubmit)="submitForm()" #registroForm="ngForm">
          
            <div [ngClass]="{ 'hidden': !mostrarCategoria }" class="mb-4">
                <div class="mb-3">
                    <h3 class="titulo" for="categoria">Escoje una <span style="color: #b40301"> Categoria</span></h3>
                    <select id="categoria" required>
                        <option value=null></option>
                        <option value="carpinteria">Carpinteria</option>
                        <option value="profesor">Profesor</option>
                        <option value="mecanico">Mecanico</option>
                        <option value="electricista">Electricista</option>
                        <option value="plomero">Plomero</option>
                        <option value="pintor">Pintor</option>
                        <option value="jardinero">Jardinero</option>
                        <option value="cuidadorMascotas">Cuidador de mascotas</option>
                        <option value="cuidadorPersonasMayores">Cuidador de personas mayores</option>
                        <option value="limpieza">Limpieza</option>
                        <option value="cocinero">Cocinero</option>
                        <option value="reparaciones">Reparaciones</option>
                        <option value="otros">Otros</option>
                    </select>
                </div>
            
                <button type="button" class="bSiguiente" (click)="verNombreServicio()">Siguiente</button>
            </div>


            <div [ngClass]="{ 'hidden': !mostrarNombre }" class="mb-4">
                <div class="mb-3">
                    <h3 class="titulo" for="categoria"><span style="color: #b40301"> Título</span> de tu servicio</h3>
                    <input type="text" name="calle" [(ngModel)]="registro.calle" required>
                </div>
        
                <button type="button" (click)="volverCategoria()">Anterior</button>
                <button type="button" class="bSiguiente" (click)="verDescripcion()">Siguiente</button>
            </div>
          
    
          <div [ngClass]="{ 'hidden': !mostrarDescripcion }" class="mb-4">
            <h3 class="mb-3">Descripcion</h3>
            <div class="mb-3">
              <label>Teléfono:</label>
              <input type="text" name="telefono" [(ngModel)]="registro.telefono">
            </div>
            <button type="button" (click)="volverNombreServicio()">Anterior</button>
            <button type="button" class="bSiguiente" (click)="verTarifa()">Siguiente</button>
          </div>
    
          <div [ngClass]="{ 'hidden': !mostrarTarifa }" class="mb-4">
            <h3 class="mb-3">Tarifa</h3>
            <div class="mb-3">
              <label>Número de Colegiado:</label>
              <input type="text" name="numeroColegiado" [(ngModel)]="registro.numeroColegiado" required>
            </div>

            <button type="button" (click)="volverDescripcion()">Anterior</button>
            <button type="button" class="bSiguiente" (click)="verPoblacion()">Siguiente</button>
          </div>
    

          <div [ngClass]="{ 'hidden': !mostrarPoblacion }" class="mb-4">
            <h3 class="mb-3">Titulación</h3>
            <div class="mb-3">
              <label class="form-check-label">Título de Enfermería:</label>
              <input type="checkbox" name="tituloEnfermeria" [(ngModel)]="registro.tituloEnfermeria">
            </div>
            <div class="mb-3">
              <label>Fecha de Titulación:</label>
              <input type="date" name="fechaTitulacion" [(ngModel)]="registro.fechaTitulacion">
            </div>
            <div class="mb-3">
              <label>Escuela de Enfermería:</label>
              <input type="text" name="escuelaEnfermeria" [(ngModel)]="registro.escuelaEnfermeria">
            </div>
            <button type="button" (click)="volverTarifa()">Anterior</button>
            <button type="button" class="bSiguiente" (click)="verImagen()">Siguiente</button>
          </div>
    
          <div [ngClass]="{ 'hidden': !mostrarImagen }" class="mb-4">
            <h3 class="mb-3">Experiencia</h3>
            <div class="mb-3">
              <label>Años de Experiencia:</label>
              <input type="text" name="aniosExperiencia" [(ngModel)]="registro.aniosExperiencia">
            </div>
            <button type="button" (click)="volverPoblacion()">Anterior</button>
            <button type="submit" [disabled]="!registroForm.valid">Crear</button>
          </div>
       
        </form>
    </div>
        
</div>
