<div class="cuerpo">
  
    <div class="izquierda" >
        <h3 class="tituloIzquierda"><span class="material-symbols-outlined">family_star</span> A Saber</h3>
      <div [ngClass]="{ 'hidden': !mostrarCategoria }">
        <p>Debes de elegir una categoria. Elige la categoria que más adecuada para tu servicio.</p>
      </div>

      <div [ngClass]="{ 'hidden': !mostrarNombre }">
        <p>¡El titulo es un elemento clave! Este debe ser único y representar con creces el servicio que quieres ofrecer.</p><br>
      </div>

      <div [ngClass]="{ 'hidden': !mostrarDescripcion }">
        <p>Explica detalladamente el servicio que quieres ofrecer, tambien puedes explicar tu manera de trabajar y tu conocimiento sobre el sector.</p>
      </div>

      <div [ngClass]="{ 'hidden': !mostrarTarifa }">
        <p>Escoje el precio que más se adapte a tu servicio</p>
      </div>

      <div [ngClass]="{ 'hidden': !mostrarPoblacion }">
        <p>Escoje la población por donde estas dispuesto a ofrecer tu servicio</p>
      </div>

      <div [ngClass]="{ 'hidden': !mostrarImagen}">
        <p>Añade el logo de tu empresa o el una imagen que represente tu trabajo.</p>
      </div>
    </div>
    
    
    
    
    
    <div class="derecha">
        <form (ngSubmit)="guardarServicio()" #registroForm="ngForm">
              <!----------------------------CATEGORIA------------------------------------->
              <div [ngClass]="{ 'hidden': !mostrarCategoria }" class="mb-4">
                  <div class="mb-3">
                      <h3 class="titulo" for="categoria" formControlName="categoria">Escoje una <span style="color: #b40301"> Categoria</span></h3>
                      <select id="categoria" required>
                          <option value=null></option>
                          <option value="carpinteria">Carpinteria</option>
                          <option value="profesor">Profesor</option>
                          <option value="mecanico">Mecanico</option>
                          <option value="electricista">Electricista</option>
                          <option value="plomero">Plomero</option>
                          <option value="pintor">Pintor</option>
                          <option value="jardinero">Jardinero</option>
                          <option value="cuidadorMascotas">Cuidador de mascotas</option>
                          <option value="cuidadorPersonasMayores">Cuidador de personas mayores</option>
                          <option value="limpieza">Limpieza</option>
                          <option value="cocinero">Cocinero</option>
                          <option value="reparaciones">Reparaciones</option>
                          <option value="otros">Otros</option>
                      </select>
                  </div>

                  <div class="contenedor-botones">
                    <button type="button" class="bSiguiente" (click)="verNombreServicio()">Siguiente</button>
                  </div>
            </div>

            <!----------------------------NOMBRE DEL SERVICIO------------------------------------->
            <div [ngClass]="{ 'hidden': !mostrarNombre }" class="mb-4">
                <div class="mb-3">
                    <h3 class="titulo"><span style="color: #b40301"> Título</span> de tu servicio</h3>
                    <input type="text" placeholder="Ej: Cambio de aceite" formControlName="nombre_servicio" required>
                </div>
        
                <div class="contenedor-botones">
                  <button type="button" (click)="volverCategoria()">Anterior</button>
                  <button type="button" class="bSiguiente" (click)="verDescripcion()">Siguiente</button>
                </div>
            </div>
          
            
            <!----------------------------DESCRIPCION DEL SERVICIO------------------------------------->
            <div [ngClass]="{ 'hidden': !mostrarDescripcion }" class="mb-4">
              <div class="mb-3">
                <h3 class="tituloDescripcion"> Acerca de<span style="color: #b40301"> tu Servicio</span></h3>
                <textarea type="text" class="textareaDescripcion" placeholder="Ej: Limpieza profunda del ordenador y cambio de pasta térmica a domicilo" formControlName="descripcion" required></textarea>

                <div class="contenedor-botones">
                  <button type="button" (click)="volverNombreServicio()">Anterior</button>
                  <button type="button" class="bSiguiente" (click)="verTarifa()">Siguiente</button>
                </div>  

            </div>
          </div>


          <!-------------------------------------TARIFA-------------------------------------------->
          <div [ngClass]="{ 'hidden': !mostrarTarifa }" class="mb-4">
            <div class="mb-3">
              <h3 class="tituloDescripcion"><span style="color: #b40301">Tarifa</span> de tu Servicio</h3>
              <input type="text" formControlName="tarifa" required>
            </div>

            <div class="contenedor-botones">
              <button type="button" (click)="volverDescripcion()">Anterior</button>
              <button type="button" class="bSiguiente" (click)="verPoblacion()">Siguiente</button>
            </div>
          </div>

    
          <!-----------------------------------POBLACIÓN-------------------------------------------->
          <div [ngClass]="{ 'hidden': !mostrarPoblacion }" class="mb-4">
            <div class="mb-3">
              <h3 class="tituloDescripcion">Escoje una <span style="color: #b40301">Población</span></h3>
              <select id="categoria" formControlName="poblacion" required>
                <option value=null></option>
                <option value="carpinteria">Solsona</option>
                <option value="profesor">Andorra</option>
                <option value="mecanico">Juneda</option>
              </select>
            </div>

            <div class="contenedor-botones">
              <button type="button" (click)="volverTarifa()">Anterior</button>
              <button type="button" class="bSiguiente" (click)="verImagen()">Siguiente</button>
            </div>
          </div>
    

          <!-------------------------------------IMAGEN-------------------------------------------->
          <div [ngClass]="{ 'hidden': !mostrarImagen }" class="mb-4">
            <div class="mb-3">
              <h3 class="tituloDescripcion">Escoje una <span style="color: #b40301">Imagen</span></h3>
              <input type="text" formControlName="tarifa" placeholder="Añadir link de la imagen" required>
            </div>
            
            <div>
              <button type="button" (click)="volverPoblacion()">Anterior</button>
              <button type="submit" [disabled]="!registroForm.valid">Crear</button>
            </div>
          </div>
       
        </form>
    </div>
        
</div>
