<div class="cuerpo">
    <div class="izquierda">
    
    </div>
    
    
    
    
    
    <div class="derecha">
        <h2 class="mb-4">Formulario de Registro</h2>
        <form (ngSubmit)="submitForm()" #registroForm="ngForm">
          <div [ngClass]="{ 'hidden': !mostrarDatosPersonales }" class="mb-4">
            <h3 class="mb-3">Datos Personales</h3>
            <div class="mb-3">
              <label>Nombre:</label>
              <input type="text" name="nombre" [(ngModel)]="registro.nombre" required>
            </div>
            <div class="mb-3">
              <label>Apellido Paterno:</label>
              <input type="text" name="apellidoPaterno" [(ngModel)]="registro.apellidoPaterno" required>
            </div>
            <div class="mb-3">
              <label>Apellido Materno:</label>
              <input type="text" name="apellidoMaterno" [(ngModel)]="registro.apellidoMaterno">
            </div>
            <div class="mb-3">
              <label>DNI:</label>
              <input type="text" name="dni" [(ngModel)]="registro.dni" required>
            </div>
            <div class="mb-3">
              <label>Fecha de Nacimiento:</label>
              <input type="date" name="fechaNacimiento" [(ngModel)]="registro.fechaNacimiento" required>
            </div>
            <div class="mb-3">
              <label>Sexo:</label>
              <select name="sexo" [(ngModel)]="registro.sexo" required>
                <option value="masculino">Masculino</option>
                <option value="femenino">Femenino</option>
              </select>
            </div>
            
            <button type="button" (click)="verDireccion()">Siguiente</button>
          </div>
          
    
          <div [ngClass]="{ 'hidden': !mostrarDireccion }" class="mb-4">
            <h3 class="mb-3">Dirección</h3>
            <div class="mb-3">
              <label>Calle:</label>
              <input type="text" name="calle" [(ngModel)]="registro.calle" required>
            </div>
            <div class="mb-3">
              <label>Número:</label>
              <input type="text" name="numero" [(ngModel)]="registro.numero" required>
            </div>
            <div class="mb-3">
              <label>Código Postal:</label>
              <input type="text" name="codigoPostal" [(ngModel)]="registro.codigoPostal">
            </div>
    
            <button type="button" (click)="verAnteriorDatosPersonales()">Anterior</button>
            <button type="button" (click)="verContacto()">Siguiente</button>
          </div>
          
    
          <div [ngClass]="{ 'hidden': !mostrarContacto }" class="mb-4">
            <h3 class="mb-3">Contacto</h3>
            <div class="mb-3">
              <label>Teléfono:</label>
              <input type="text" name="telefono" [(ngModel)]="registro.telefono">
            </div>
            <button type="button" (click)="verAnteriorDireccion()">Anterior</button>
            <button type="button" (click)="verColegiado()">Siguiente</button>
          </div>
    
          <div [ngClass]="{ 'hidden': !mostrarColegiado }" class="mb-4">
            <h3 class="mb-3">Colegiado</h3>
            <div class="mb-3">
              <label>Número de Colegiado:</label>
              <input type="text" name="numeroColegiado" [(ngModel)]="registro.numeroColegiado" required>
            </div>
            <div class="mb-3">
              <label>Fecha de Alta en Colegio:</label>
              <input type="date" name="fechaAltaColegio" [(ngModel)]="registro.fechaAltaColegio" required>
            </div>
            <button type="button" (click)="verAnteriorContacto()">Anterior</button>
            <button type="button" (click)="verTitulacion()">Siguiente</button>
          </div>
    
          <div [ngClass]="{ 'hidden': !mostrarTitulacion }" class="mb-4">
            <h3 class="mb-3">Titulación</h3>
            <div class="mb-3">
              <label class="form-check-label">Título de Enfermería:</label>
              <input type="checkbox" name="tituloEnfermeria" [(ngModel)]="registro.tituloEnfermeria">
            </div>
            <div class="mb-3">
              <label>Fecha de Titulación:</label>
              <input type="date" name="fechaTitulacion" [(ngModel)]="registro.fechaTitulacion">
            </div>
            <div class="mb-3">
              <label>Escuela de Enfermería:</label>
              <input type="text" name="escuelaEnfermeria" [(ngModel)]="registro.escuelaEnfermeria">
            </div>
            <button type="button" (click)="verAnteriorColegiado()">Anterior</button>
            <button type="button" (click)="verExperiencia()">Siguiente</button>
          </div>
    
          <div [ngClass]="{ 'hidden': !mostrarExperiencia }" class="mb-4">
            <h3 class="mb-3">Experiencia</h3>
            <div class="mb-3">
              <label>Años de Experiencia:</label>
              <input type="text" name="aniosExperiencia" [(ngModel)]="registro.aniosExperiencia">
            </div>
            <button type="button" (click)="verAnteriorTitulacion()">Anterior</button>
            <button type="button" (click)="verPagosDevoluciones()">Siguiente</button>
          </div>
    
          <div [ngClass]="{ 'hidden': !mostrarPagosDevoluciones }" class="mb-4">
            <h3 class="mb-3">Pagos y Devoluciones</h3>
            <div class="mb-3">
              <label class="form-check-label">Al día en Pagos:</label>
              <input type="checkbox" name="pagosAlDia" [(ngModel)]="registro.pagosAlDia">
            </div>
            <div class="mb-3">
              <label class="form-check-label">Devoluciones Corrientes:</label>
              <input type="checkbox" name="devolucionesCorrientes" [(ngModel)]="registro.devolucionesCorrientes">
            </div>
            <button type="button" (click)="verAnteriorExperiencia()">Anterior</button>
            <button type="button" (click)="verOpciones()">Siguiente</button>
          </div>
    
          <div [ngClass]="{ 'hidden': !mostrarOpciones }" class="mb-4">
            <h3 class="mb-3">Opciones</h3>
            <div class="mb-3">
              <label>Opción Número:</label>
              <input type="text" name="opcionNumero" [(ngModel)]="registro.opcionNumero">
            </div>
            <button type="button" (click)="verAnteriorPagosDevoluciones()">Anterior</button>
          </div>
       
          <button type="submit" [disabled]="!registroForm.valid">Enviar</button>
        </form>
    </div>
        
</div>
