<header>

    <a routerLink="/principal"><img src="../../assets/imatges/LogoBlanc.png" alt="logo" class="logo"></a>

    <div class="BarraBusqueda">
      <input type="text" placeholder="Busca a tu Professional..">
      <button class="botonBusqueda"><span class="material-symbols-outlined"> search </span></button>
    </div>

    <div class="Menu">
      <a routerLink="/principal">INICIO</a>
      <span class="pipe"></span>
      <a routerLink="">MIS SERVICIOS</a>
      <span class="pipe pipe-medium"></span>
      <a routerLink="/contacto">CONTACTO</a>
      <span class="pipe pipe-right"></span>
      <a routerLink="/perfil">PERFIL</a>
      <a>
        <span id="logout" class="material-symbols-outlined"> logout </span>
      </a>
    </div>
  
  </header>